#SiteLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#SiteTitle {
    text-align: center;
    margin-top: -110px;
}

.toExams {
    text-decoration: underline;
    color: darkcyan;
}

.toExams:hover{
    cursor: pointer;
}